img {
  width: 50%;
  float: left;
}

.dText {
  text-align: center;
  position: relative;
  float: right;
  width: 50%;
  left: 10px;
}

h1 {
  font-size: 35px;
}

.container {
  border: 1px solid black;
}

a img {
  width: 25px;
}
