<nav class="navbar navbar-expand-lg navbar-light bg-light border">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">{{ 'Inicio' }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/imoveis">{{ 'Imóveis' }}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contatos">{{ 'Contatos' }}</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
  </div>

</nav>
